.instructors-container{
    margin: 20px;
}
.courses-title{
    color: #212529;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}
.dash-in{
    background-color: #FFC107;
    text-align: center;
    width: 350px;
    height: 2px;
    margin: 0px auto;
    
}