.about{
    font-family: 'Roboto', sans-serif;
    font-size: 3 rem;
    color: #FFC107;
}
.description{
    text-align: center;
    margin-right: 250px;
    font-family: 'Roboto', sans-serif;
    color: #6C7562
}
.about-us{
    background-color: #212529;
    
}