.banner {
    background-image: url("https://cdn-media-2.freecodecamp.org/w1280/5f9c99e1740569d1a4ca223a.jpg"),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 800px;
    width: 100%;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .title {
    margin-top: -300px;
    color: white;
    font-weight: bold;
    font-size: 59px;
  }
  .about-btn {
    border: 3px solid #0EB582;
    outline: none;
    font-size: large;
    font-weight: 700;
    padding: 17px 34px;
    color: #010b1f;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .about-btn:hover{
    background-color: #0EB582;
    color: white;
  }
  